@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --color-primary: #db0000;
  --color-primary-darker: #831010;
  --color-secondary: #00925d;
  --color-light: #f5f5f1;
  --color-dark-1: #28262d;
  --color-dark-2: #0d0c0f;
  --color-dark-3: #08080a;
}

/* ===============================
   Global Scrollbar Styles
=============================== */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(82 82 82) transparent;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(82 82 82);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(115 115 115);
}

/* ===============================
  pagination hero section
=============================== */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6) !important;
  transition: all 0.3s ease !important;
  height: 10px !important  ;
  width: 10px !important;
}
.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.65) !important;
  width: 40px !important;
  border-radius: 6px !important;
}
